* {
  margin: 0;
  padding: 0;
  font-family:'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  line-height: 25px;
  word-spacing: 2px;
}
body{
  min-height: 100vh;
}

a, a:focus, a:active, a:hover{
  text-decoration: none;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

